:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    
}

*{
    box-sizing: border-box;
}

header{
    padding-top: 2rem;
}

a {
    text-decoration:none;
}

h2 {
    text-align: center;
    color:#252B42;
    font-size: 4rem;
}

blockquote{
    font-weight: 600;
    color: #737373;
}

p{
     color: #737373;
     font-size: 1.4rem;
}

li, p {
    line-height: 1.5rem;
    list-style-type: none;
  }
  
.otstup{
    line-height: 1.5rem;
}

form{
    line-height: 3rem;
}

.navigation{
    min-height: 53.2rem;
    background-color: #f7f7f7;
}



.sectiontwo{
   
    background-color: #FAFAFA;
    margin-top: 0;
}

#sectionthree{
    background-color: #F3F3F3;
}

h1{
    display: none;
}

.none{
    display: none;
}

.center{
    text-align: center;
}

.navignav{
    color: #737373;
    font-weight: 400;
    font-size: 3rem;
    }
.consultal{
    font-weight: 700;
    color:#252B42;
    font-size: 2.4rem;
    margin-right: auto;
    margin-left: 2rem;
}

.cleanbutton{
    padding: 0;
    border: none;
    background: none;
}

.colortextfooter{
    color:#FFFFFF;
}

footer{
    
    background: #252B42;
}

.orange{
    color: #FF7B47;
    font-weight: 600;
}

.fontweight{
    font-weight: 600;
    color:#FFFFFF;
}

.professii{
    font-weight: 600;
    color:#252B42;
}

.white{
    color:#FFFFFF;
}

.forindustry{
    color: #252B42;
    font-weight: 700;
}

.textidustry{
    font-weight: 500;
    color: #737373;
}



#block{
   
    border-radius: 5px;
}

.home{
    margin-left: 14.5rem;
    margin-top: 16.4rem;
    margin-right: 14.5rem;
    margin-bottom: 9.8rem;
}

.marginnone{
    margin: 0;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
}

nav ul{
    padding: 0;
}

nav li{
    margin: 5rem 3rem 5rem 3rem;
}

.text1{
    margin: 3rem 6.7rem 4rem 6.7rem;
}
button {
    /* Сбрасываем дефолтные стили */
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.orangebut{
    background-color: #FF7B47;
    color: #F3F3F3;
    border-radius: 37px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    padding: 1rem 3rem 1rem 3rem;
}

.greenbut{
    background-color:#f7f7f7;
    color: #0D5C63;
    border-radius: 37px;
    border: 0.1rem solid #0D5C63;

    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    padding: 1rem 3rem 1rem 3rem;
}

